@use "../../assets/styles/global";

:global c-card {
  display: block;

  // Possible effect here
  //&.card--moving .card-wrapper {
  //  transform: translateY(-2px) !important;
  //  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1) !important;
  //}

  .card-wrapper {
    width: 600px;
    min-height: 348px;

    @include global.transition(transform 300ms ease, box-shadow 300ms ease);
    background-color: global.$surfaceColor;
    border-radius: global.$defaultRadius;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    padding: 0 40px 40px 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    }

    & > * {
      width: 100%;
    }

    .card-title {
      text-align: left;

      margin-top: 30px;
    }

    .card-text {
      text-align: left;

      margin-top: 18px;
    }

    .card-buttons-wrapper {
      margin-top: auto;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      .card-button {
        margin-right: 16px;
      }
    }
  }
}