$primaryColor: #924FE0;
$lightPrimaryColor: rgba($primaryColor, 0.8);
$surfaceColor: rgba(#FFFFFF, 0.5);
$inkColor: #1B2750;
$lightInkColor: rgba($inkColor, 0.8);
$backgroundColor: #F3EEF8;
$onPrimaryColor: rgba(#FFFFFF, 0.8);
$dividerColor: rgba(#000000, 0.12);

$defaultRadius: 44px;

@import "./reset";
@import url(https://fonts.googleapis.com/css?family=Material+Icons+Round);
@import url(https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Rubik:wght@700&display=swap);

@mixin inherit-size() {
  width: inherit;
  height: inherit;
}

@mixin not-selectable() {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@mixin antialias() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  text-rendering: optimizeLegibility;
}

@mixin transition($prop...) {
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -o-transition: $prop;
  transition: $prop;
}

@mixin font-adapt-size($base, $min, $max) {
  $size: calc(#{$base});
  $size: min(max(#{$min}, #{$size}), #{$max});
  font-size: $size;
}

body,
html {
  height: 100%;
}

body {
  background-color: $backgroundColor;
}

p, h1, h2, h3, h4, h5, h6, input, textarea, ul, a, span {
  @include antialias();
}

.material-icons-round {
  @include not-selectable();
}

body {
  font-size: 0.98vw;
}

p, a, input, textarea, span {
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: $lightInkColor;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: $inkColor;
}

h1 { @include font-adapt-size(600%, 64px, 96px) }
h2 { @include font-adapt-size(400%, 48px, 64px) }
h3 { @include font-adapt-size(300%, 36px, 48px) }
h4 { @include font-adapt-size(200%, 24px, 36px) }